<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <!-- th :each | loop를 수행하라는 thymeleaf 문법
                 ${} : model 안에서 members라는 key의 value값을 꺼낼 때
                 "member : ${members}" : members라는 key에서 하나씩 뽑아 member라는 변수에 담는다. -->
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>